<ul class="the-left-tree">
  <li><a [routerLink]="['/app/home']" routerLinkActive="active">首页</a></li>
  <li><a [routerLink]="['/app/patent-management']" routerLinkActive="active">专利管理</a></li>
  <li><a [routerLink]="['/app/patent-retrieve']" routerLinkActive="active">专利检索</a></li>
  <li><a [routerLink]="['/app/pay-reminders']" routerLinkActive="active">缴费提醒</a></li>
  <li><a [routerLink]="['/app/account-management']" routerLinkActive="active">账号管理</a></li>
  <li><a [routerLink]="['/app/activity-management']" routerLinkActive="active">活动管理</a></li>
</ul>
